n8n/workflow-ingest-whatsapp.json
{
  "name": "MonitoraIA - Ingest WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize WhatsApp payload to MonitoraIA format\n// Adapt this based on your WhatsApp provider (Evolution API, Twilio, etc.)\n\nconst input = $input.first().json;\n\n// Example for Evolution API format:\nconst normalized = {\n  company_id: input.company_id || $env.DEFAULT_COMPANY_ID,\n  provider: 'evolution',\n  provider_message_id: input.data?.key?.id || input.messageId || String(Date.now()),\n  conversation_external_id: input.data?.key?.remoteJid || input.from,\n  channel: 'whatsapp',\n  direction: input.data?.key?.fromMe ? 'outbound' : 'inbound',\n  sender_type: input.data?.key?.fromMe ? 'agent' : 'customer',\n  agent_external_id: input.data?.key?.fromMe ? (input.data?.pushName || null) : null,\n  customer_external_id: input.data?.key?.remoteJid || input.from,\n  message_timestamp: input.data?.messageTimestamp \n    ? new Date(input.data.messageTimestamp * 1000).toISOString() \n    : new Date().toISOString(),\n  raw_payload: input\n};\n\nreturn [{ json: normalized }];"
      },
      "id": "normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/ingest-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-request",
      "name": "Send to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, id: $json.id }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error || 'Unknown error' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Send to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Supabase": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
